volumes:
  db-data:

networks:
  radio_net:
    driver: bridge
    name: oai-cn5g-radio-net
    ipam:
      config:
        - subnet: 192.168.80.0/24
    driver_opts:
      com.docker.network.bridge.name: "oai-radio5g"
    labels:
      role: "gnb"

  split_net:
    driver: bridge
    name: oai-cn5g-split-net
    ipam:
      config:
        - subnet: 192.168.60.0/24
    driver_opts:
      com.docker.network.bridge.name: "oai-split5g"
    labels:
      role: "gnb"

  core_net:
    driver: bridge
    name: oai-cn5g-public-net
    ipam:
      config:
        - subnet: 192.168.70.0/24
    driver_opts:
      com.docker.network.bridge.name: "oai-cn5g"
    labels:
      role: "cn"

services:
  ue:
    container_name: ue
    # For normal behaviour, use the official image instead
    #image: oaisoftwarealliance/oai-nr-ue:2025.w45
    # For the attack, use the image built from the fork at https://github.com/jzelenjak/openairinterface5g
    image: rogue-oai-ue
    # Limit the CPU and memory resources of the UE container for the attack
    deploy:
      resources:
        limits:
          cpus: '15.0'
          memory: 4G
    entrypoint: "/bin/bash -c"
    command:
      # For normal behaviour, use the command below instead
      # Note: Before tag 2024.w45, use `--sa` option to specify the SA mode
        #- "sleep 30 && /opt/oai-nr-ue/bin/nr-uesoftmodem --rfsim --rfsimulator.serveraddr 192.168.80.129 -C 3619200000 -r 106 --numerology 1 --band 78 --ssb 516 -E --ue-fo-compensation --uicc0.imsi 001010000000001"
      # For the attack, make the UE a dummy container, so that attack scripts can be launched from it
      - tail -f
    volumes:
      - ../scripts/loop.sh:/opt/oai-nr-ue/loop.sh
      - ../scripts/flood.sh:/opt/oai-nr-ue/flood.sh
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    networks:
      radio_net:
        ipv4_address: 192.168.80.128
    depends_on:
      - gnodeb-du
    labels:
      role: "ue"

  gnodeb-du:
    container_name: gnodeb-du
    # If you want to use the official DockerHub image from OAI, uncomment this line and comment out the image and entrypoint
    # Note that this image is built using AVX-512 instruction set (see the note about AVX-512 in the README.md)
    #image: oaisoftwarealliance/oai-gnb:2025.w45
    # If you use the Dockerfile in the gnodeb/ directory, use the following image instead (update the tag if needed)
    # Important: Before tag 2024.w45, use `--sa` option to specify the SA mode (for later versions, do *not* use --sa)
    # You might also have use different gNB-DU configuration files (see the README in the gnodeb/ directory)
    #image: oai-gnodeb-local:2024.w40
    # For the attack, use the image built from the fork at https://github.com/jzelenjak/openairinterface5g
    image: rogue-oai-gnodeb
    # Limit the CPU and memory resources of the gNB-DU container for the attack
    deploy:
      resources:
        limits:
          cpus: '3.0'
          memory: 2G
    entrypoint: "/bin/bash -c"
    command:
      - "sleep 20 && /opt/oai-gnb/bin/nr-softmodem --rfsim --rfsimulator.serveraddr server -O /opt/oai-gnb/etc/gnb.conf --gNBs.[0].min_rxtxtime 6 -E | tee /opt/oai-gnb/bin/logs/logs_gnodeb_du.txt"
    volumes:
      - ../gnodeb/conf/gnb-du.sa.band78.106prb.rfsim.conf:/opt/oai-gnb/etc/gnb.conf
      - ./logs:/opt/oai-gnb/bin/logs/
    restart: unless-stopped
    cap_add:
      - SYS_NICE
    depends_on:
      - gnodeb-cu
    networks:
      split_net:
        ipv4_address: 192.168.60.229
      radio_net:
        ipv4_address: 192.168.80.129
    labels:
      role: "gnb"
      gnodeb-split: "du"

  gnodeb-cu:
    container_name: gnodeb-cu
    # If you want to use the official DockerHub image from OAI, uncomment this line and comment out the image and entrypoint
    # Note that this image is built using AVX-512 instruction set (see the note about AVX-512 in the README.md)
    #image: oaisoftwarealliance/oai-gnb:2025.w45
    # If you use the Dockerfile in the gnodeb/ directory, use the following image instead (update the tag if needed)
    # Important: Before tag 2024.w45, use `--sa` option to specify the SA mode (for later versions, do *not* use --sa)
    # You might also have use different gNB-CU configuration files (see the README in the gnodeb/ directory)
    #image: oai-gnodeb-local:2024.w40
    # For the attack, use the image built from the fork at https://github.com/jzelenjak/openairinterface5g
    image: rogue-oai-gnodeb
    # Limit the CPU and memory resources of the gNB-CU container for the attack
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    entrypoint: "/bin/bash -c"
    command:
      - "sleep 15 && /opt/oai-gnb/bin/nr-softmodem -O /opt/oai-gnb/etc/gnb.conf | tee /opt/oai-gnb/bin/logs/logs_gnodeb_cu.txt"
    volumes:
      - ../gnodeb/conf/gnb-cu.sa.f1.conf:/opt/oai-gnb/etc/gnb.conf
      - ./logs:/opt/oai-gnb/bin/logs/
    restart: unless-stopped
    cap_add:
      - SYS_NICE
    depends_on:
      - oai-amf
    networks:
      core_net:
        ipv4_address: 192.168.70.129
      split_net:
        ipv4_address: 192.168.60.129
    labels:
      role: "gnb"
      gnodeb-split: "cu"

### CORE
  mysql:
    container_name: "mysql"
    restart: unless-stopped
    image: mysql:8.0
    volumes:
      - db-data:/var/lib/mysql
      - ../core-network/database/oai_db.sql:/docker-entrypoint-initdb.d/oai_db.sql
      - ../core-network/healthscripts/mysql-healthcheck.sh:/tmp/mysql-healthcheck.sh
    environment:
      - TZ=Europe/Paris
      - MYSQL_DATABASE=oai_db
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
      - MYSQL_ROOT_PASSWORD=linux
    healthcheck:
      test: /bin/bash -c "/tmp/mysql-healthcheck.sh"
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      core_net:
        ipv4_address: 192.168.70.131
    labels:
      role: "cn"

  ims:
    container_name: "ims"
    # "latest" checked at 2024-10-08
    image: oaisoftwarealliance/ims@sha256:be5682c451a6a790a76a8e49643ed567be040dc807d30fc2a0cd70afef3d12d9
    restart: unless-stopped
    volumes:
      - ../core-network/conf/sip.conf:/etc/asterisk/sip.conf
      - ../core-network/conf/users.conf:/etc/asterisk/users.conf
    healthcheck:
      test: /bin/bash -c "pgrep asterisk"
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      core_net:
        ipv4_address: 192.168.70.139
    labels:
      role: "cn"

  oai-udr:
    container_name: "oai-udr"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-udr@sha256:8e3db5fbe98affc61bb37516a2f0b897768a8400f63e3882e92901bfd2d5975e
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
    volumes:
      - ../core-network/conf/config.yaml:/openair-udr/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - mysql
      - oai-nrf
    networks:
      core_net:
        ipv4_address: 192.168.70.136
    labels:
      role: "cn"

  oai-udm:
    container_name: "oai-udm"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-udm@sha256:e872cec89d8c5cc0f354d1a4688204718db33daf34dd06d711592fb40af0d07f
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
    volumes:
      - ../core-network/conf/config.yaml:/openair-udm/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - oai-udr
    networks:
      core_net:
        ipv4_address: 192.168.70.137
    labels:
      role: "cn"

  oai-ausf:
    container_name: "oai-ausf"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-ausf@sha256:6f6f910056800fd5d94e928dba3aa198786b95d5a1b6f82709184fafe79faade
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
    volumes:
      - ../core-network/conf/config.yaml:/openair-ausf/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - oai-udm
    networks:
      core_net:
        ipv4_address: 192.168.70.138
    labels:
      role: "cn"

  oai-nrf:
    container_name: "oai-nrf"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-nrf@sha256:21980bdcdb7308ccb78e20709c87fef4f2d9a02fcb036765a10753e5d9e5e734
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
    volumes:
      - ../core-network/conf/config.yaml:/openair-nrf/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    networks:
      core_net:
        ipv4_address: 192.168.70.130
    labels:
      role: "cn"

  oai-amf:
    container_name: "oai-amf"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-amf@sha256:c1391e33bfa398fb284a9fef467f0c0e46fbe1e1f8a38a6f04e0164d13a226e8
    # Limit the CPU and memory resources of the AMF container for the attack
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
      - 38412/sctp
    volumes:
      - ../core-network/conf/config.yaml:/openair-amf/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - mysql
      - oai-nrf
      - oai-ausf
    networks:
      core_net:
        ipv4_address: 192.168.70.132
    labels:
      role: "cn"

  oai-smf:
    container_name: "oai-smf"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-smf@sha256:46f8054a0ca4aaed72e8b8f6c77a6ca5a10ad95972490af4b5de5fa1a47abe15
    restart: unless-stopped
    expose:
      - 80/tcp
      - 8080/tcp
      - 8805/udp
    volumes:
      - ../core-network/conf/config.yaml:/openair-smf/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - oai-nrf
      - oai-amf
    networks:
      core_net:
        ipv4_address: 192.168.70.133
    labels:
      role: "cn"

  oai-upf:
    container_name: "oai-upf"
    # "develop" checked at 2024-10-08
    image: oaisoftwarealliance/oai-upf@sha256:f8e283bc310b4604bb395ddc8aec2ad38a654621866f0edf6147cc1aa3a47909
    restart: unless-stopped
    expose:
      - 2152/udp
      - 8805/udp
    volumes:
      - ../core-network/conf/config.yaml:/openair-upf/etc/config.yaml
    environment:
      - TZ=Europe/Paris
    depends_on:
      - oai-nrf
      - oai-smf
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    cap_drop:
      - ALL
    privileged: true
    networks:
      core_net:
        ipv4_address: 192.168.70.134
    labels:
      role: "cn"

  oai-ext-dn:
    privileged: true
    init: true
    container_name: oai-ext-dn
    # "jammy" checked at 2024-10-08
    image: oaisoftwarealliance/trf-gen-cn5g@sha256:2c5f33b0c16b5a4451dd2e40a6e83f970aa50eee390ea4f249a993ee74dde9b3
    entrypoint: /bin/bash -c \
        "ip route add 10.0.0.0/16 via 192.168.70.134 dev eth0; ip route; sleep infinity"
    command: ["/bin/bash", "-c", "trap : SIGTERM SIGINT; sleep infinity & wait"]
    healthcheck:
      test: /bin/bash -c "ip r | grep 10.0.0"
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      core_net:
        ipv4_address: 192.168.70.135
    labels:
      role: "cn"

### EXTRA
  victim_ue:
    container_name: victim_ue
    image: oaisoftwarealliance/oai-nr-ue:2025.w45
    entrypoint: "/bin/bash -c"
    command:
      # To connect the victim UE to the network on container startup, use the command below instead
      # Note: The victim UE uses IMSI 001010000000002, because IMSI 001010000000001 is already used by the attacker UE
      # Note: Before tag 2024.w45, use `--sa` option to specify the SA mode
        #- "sleep 30 && /opt/oai-nr-ue/bin/nr-uesoftmodem --rfsim --rfsimulator.serveraddr 192.168.80.129 -C 3619200000 -r 106 --numerology 1 --band 78 --ssb 516 -E --ue-fo-compensation --uicc0.imsi 001010000000002"
      # To connect the victim UE to the network manually, make it a dummy container and run ./start.sh script from it
      - tail -f
    volumes:
      - ../scripts/start.sh:/opt/oai-nr-ue/start.sh
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    networks:
      radio_net:
        ipv4_address: 192.168.80.127
    depends_on:
      - gnodeb-du
    labels:
      role: "ue"
